<?xml version="1.0"?>

<config>
    <modules>
        <Dmana_Hello>
            <version>0.0.1</version>
        </Dmana_Hello>
    </modules>
    <frontend>
        <routers>
            <Dmana_Hello_DmanaRouter>
                <use>standard</use>
                <args>
                    <module>Dmana_Hello</module>
                    <frontName>dmana-hello</frontName>
                </args>
            </Dmana_Hello_DmanaRouter>
        </routers>
    </frontend>
</config>